<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMS_COMM_SERVER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IMS_COMM_SERVER.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value>ZDesigner ZT410R-203dpi ZPL</value>
            </setting>
            <setting name="LDAP_ADD" serializeAs="String">
                <value>LDAP://172.31.0.10:389/DC=corp,DC=Udaan,DC=com</value>
            </setting>
        </IMS_COMM_SERVER.Properties.Settings>
    </applicationSettings>
</configuration>